# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Legion\Desktop\Informatika\Masodik_felev\OOP\OOP_Lab_Csata_Laszlo_Levente\Labor_1\3_feladat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
